<div class='content'>
  <div class='sidebar' [ngClass]="{'small': !isOpen()}">
    <div class='sidebar__header'>
      <mat-icon fontIcon='menu' (click)='toggleSidebar()'></mat-icon>
    </div>
    @for (element of sidebarContent; track element.parent.title) {
      <div class='sidebar__list-parent'>
        <a class='sidebar__list-parent title'>
          <mat-icon class='sidebar__list-parent title__icon' [fontIcon]='element.parent.icon'></mat-icon>
          <span class='sidebar__list-parent title__name'>{{ element.parent.title }}</span>
        </a>
        @for (children of element.parent.children; track children.name) {
          <a class='sidebar__list-parent element' [routerLink]='children.routerLink'>
            <mat-icon [fontIcon]='children.icon'></mat-icon>
            <span class='sidebar__list-parent element__operation-name'>{{ children.name }}</span>
          </a>
        }
      </div>
    }
  </div>
  <div class='right-side'>
    <ng-content></ng-content>
  </div>
</div>
